h1 {
  font-size: var(--font-large);
  font-weight: var(--bold);
  text-shadow: 4px 3px var(--color-theme-900);
  color: var(--color-yellow);
  margin-bottom: var(--space-1);
}
img {
  width: 5rem;
}
p {
  margin-bottom: var(--space-4);
  text-transform: uppercase;
  text-shadow: 2px 1px var(--color-theme-900);
}
